{% if __SELF__.services %}
<label>Select Service</label>
<select name="service"
        class="form-control"
        data-request="{{ __SELF__ }}::onSelectService"
        data-request-update="'{{ __SELF__ }}::shipping-cost': '#shipping-cost'"
        data-attach-loading
        >
        {% for service in services %}
        <option value="{{ service.code }}">{{ service.name }}</option>
        {% endfor %}
</select>
{% endif %}

<div id="shipping-cost">
    {% partial __SELF__ ~ '::shipping-cost' %}
</div>
